fastapi==0.115.6
uvicorn[standard]==0.32.1
SQLAlchemy==2.0.36
asyncpg==0.30.0
alembic==1.14.0
wikipedia-api
spacy==3.8.11
httpx
youtube-transcript-api
pandas
numpy
scikit-learn
sentence-transformers
joblib
boto3
anyio
