POSTGRES_DB=rootify
POSTGRES_USER=rootify
POSTGRES_PASSWORD=rootify_dev_password
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://rootify:rootify_dev_password@db:5432/rootify

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LAMBDA_ARTIFACT_WRITER_NAME=