services:
  db:
    image: postgres:16-alpine
    container_name: rootify-db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build:
      context: ./api
    container_name: rootify-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    depends_on:
      - db
    environment:
      - PYTHONPATH=/app
volumes:
  pgdata: